doctype html
html(lang="en")
	head
		script(src='/socket.io/socket.io.js')
		script(src='http://code.responsivevoice.org/responsivevoice.js')
		link(href='/css/min.css' rel='stylesheet' type='text/css')
	body(bgcolor=transparent)
		#overlays
	
		// Load react client-side app
		script(src='/js/bundle.js')
